# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# Log files
*.log

# Application output

# Secrets and configuration files
config.ini

# Local environment
.python-version

# Build artifacts
src/pawikansentinel.egg-info/

# Jupyter notebooks
notebooks/

# Context files
contextfiles/
